<!doctype html>
<html lang="da">

<head>
    <% include ../../partials/template/head.ejs %>
</head>

<body>
    <% include ../../partials/template/header_admin.ejs %>
        <div id="top-wrapper">
            <div class="container" id="top-container">
                <% include ../../partials/template/header.ejs %>
            </div>
        </div>
        <div id="bottom-wrapper">
            <div class="container" id="main-container">
                <% include ../../partials/template/mainNav.ejs %>
                    <div class="row">
                        <div class="col-md-9">
                            <h1>
                                <%= pageTitle %>
                            </h1>
                            <div class="col-md-12" id="main-content">
                                <div class="row" id="tableRowCykel">
                                    <div class="col-md-5">
                                        <img class="img-fluid" id="cykel-img" src="/images/cykel/original/<%= cykel.url %>" alt="<%= cykel.model %>">
                                        <h2>Farve:</h2>

                                        <% farver.forEach(function(farve) { %>
                                            <img class="img-fluid farve-img" src="/images/cykelfarve/<%= farve.url %>" alt="<%= farve.navn %>" title="<%= farve.navn %>">
                                            <% }) %>
                                    </div>

                                    <div class="col-md-7">
                                        <h2>
                                            <%= cykel.producent %>
                                                <%= cykel.model %>
                                        </h2>
                                        <p>
                                            <%= cykel.beskrivelse %>
                                        </p>
                                        <p>Pris:
                                            <%= cykel.pris %> kr.
                                        </p>
                                        <% if(cykel.tilbudspris == 0) { %>
                                            <p>
                                            </p>
                                            <% } else { %>
                                                <p class="cyklenTilbudsTxt">Nu kun:
                                                    <%= cykel.tilbudspris %> kr.
                                                </p>
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h1>Tilbud</h1>
                            <div class="col-md-12" id="aside-content">
                                <div id="section-line"></div>
                                <% include ../../partials/content/tilbud.ejs %>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="container" id="bottom-container">
                <% include ../../partials/template/footer.ejs %>
            </div>
        </div>
</body>
<% include ../../partials/template/scripts.ejs %>

</html>
