<!doctype html>
<html lang="da">

<head>
    <% include ../../partials/template/head.ejs %>
    <!-- Admin css -->
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <!-- <link rel="stylesheet" href="style4.css"> -->
</head>

<body>
    <% include ../../partials/template/header_admin.ejs %>
    <div class="wrapper">
        <!-- Sidebar hentet og tilpasset. https://bootstrapious.com/p/bootstrap-sidebar -->
        <% include ../../partials/template/sidebar_admin.ejs %>

        <!-- Page Content  -->
        <div id="content">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span> Sidebar</span>
                </button>

                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            <%= pageTitle %>
                        </h1>
                        <p>Her kan du redigere, deaktivere, slette og se alle cykler.</p>
                    </div>
                    <div class="panel panel-default col-md-12">
                        <div class="panel-heading">
                            <h2 class="panel-title">Overblik</h2>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">Model</th>
                                        <th scope="col">Producent</th>
                                        <th scope="col">Tilbud?</th>
                                        <th scope="col">Tilpas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% cykler.forEach(function(cykel) { %>
                                    <tr>
                                        <th scope="row">
                                            <img class="img-responsive" src="/images/cykel/original/<%= cykel.url %>"
                                                alt="<%= cykel.model %>" style="height:20px">
                                        </th>
                                        <td>
                                            <%=cykel.model%>
                                        </td>
                                        <td>
                                            <%=cykel.producent%>
                                        </td>

                                        <% if (cykel.tilbudspris == 0) { %>
                                        <td>

                                        </td>
                                        <% } else { %>
                                        <td>
                                            Tilbud:
                                            <%=cykel.tilbudspris%> DKK
                                        </td>
                                        <% } %>
                                        <td>
                                            <a class="produkt-table-link" href="/admin/cykel_ret/<%= cykel.id %>" alt="ret cykel"
                                                title="Ret cykel">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="produkt-table-link" href="/admin/cykel_arkiver/<%= cykel.id %>"
                                                alt="arkiver cykel" title="Arkiver cykel" onclick="return confirmAction('Er du sikker på du vil arkivere <%=cykel.model%>? Produktet vil stadig befinde sig i databasen, men vil ikke længere være synlig i sortimentet.')">
                                                <i class="fas fa-archive"></i>
                                            </a>
                                            <a class="produkt-table-link" href="/admin/cykel_slet/<%= cykel.id %>" alt="slet cykel"
                                                title="Slet cykel" onclick="return confirmAction('Er du sikker på du vil slette <%=cykel.model%>? Cyklen vil blive slettet i databasen og vil ikke længere være tilgængeligt.')">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../../partials/template/scripts.ejs %>

    <script src='/javascripts/confirmAction.js'></script>
    <script src='/javascripts/collapseAdminSidebar.js'></script>
</body>

</html>
