<!doctype html>
<html lang="da">

<head>
    <% include ../../partials/template/head.ejs %>
        <!-- Admin css -->
        <link rel='stylesheet' href='/stylesheets/admin.css' />
        <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>

<body>
    <% include ../../partials/template/header_admin.ejs %>
        <div class="wrapper">
            <!-- Sidebar hentet og tilpasset. https://bootstrapious.com/p/bootstrap-sidebar -->
            <% include ../../partials/template/sidebar_admin.ejs %>

                <!-- Page Content  -->
                <div id="content">
                    <div class="container-fluid">

                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span> Sidebar</span>
                        </button>

                        <div class="row">
                            <div class="col-md-12">
                                <h1>
                                    <%= pageTitle %>
                                </h1>
                                <p>Her kan du rette indholdet på en side.</p>
                            </div>
                            <div class="panel panel-default col-md-12">
                                <div class="panel-heading">
                                    <h2 class="panel-title">Ret side</h2>
                                </div>
                                <div class="panel-body">

                                    <form id="retSideForm" method="post" action="/admin/side_ret/<%= side.id %>">
                                        <h2>
                                            <%= side.navn %>
                                        </h2>

                                        <div class="form-group">
                                            <label for="inputSideAfsnit">Afsnit 1</label>
                                            <textarea required class="form-control input-lg" id="inputSideAfsnit" name="afsnit1" placeholder="Skriv en tekst til afsnittet"><%= side.afsnit1 %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSideAfsnit">Afsnit 2</label>
                                            <textarea required class="form-control input-lg" id="inputSideAfsnit" name="afsnit2" placeholder="Skriv en tekst til afsnittet"
                                                style="height:200px"><%= side.afsnit2 %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSideAfsnit">Afsnit 3</label>
                                            <textarea required class="form-control input-lg" id="inputSideAfsnit" name="afsnit3" placeholder="Skriv en tekst til afsnittet"
                                                style="height:200px"><%= side.afsnit3 %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSideAfsnit">Afsnit 4</label>
                                            <textarea required class="form-control input-lg" id="inputSideAfsnit" name="afsnit4" placeholder="Skriv en tekst til afsnittet"
                                                style="height:200px"><%= side.afsnit4 %></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSideAfsnit">Afsnit 5</label>
                                            <textarea required class="form-control input-lg" id="inputSideAfsnit" name="afsnit5" placeholder="Skriv en tekst til afsnittet"
                                                style="height:200px"><%= side.afsnit5 %></textarea>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="inputProduktbilledeFile">Forsidebillede
                                                    <small>(Lad feltet stå tomt, hvis du ikke vil ændre billedet)</small>
                                                </label>
                                                </br>
                                                <input type="file" id="inputProduktbilledeFile" name="forsidebillede">
                                            </div>
                                        </div>

                                        <button href="/admin/side_ret/<%= side.id %>" id="retKnap" class="btn btn-default" type="submit" name="retKnap" value="ret"
                                            onclick="return confirmAction('Er du sikker på du vil rette siden?')">Ret</button>
                                        <div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <% include ../../partials/template/scripts.ejs %>

                    <!-- Confirm delete -->
                    <script src='/javascripts/confirmAction.js'></script>
                    <script src='/javascripts/collapseAdminSidebar.js'></script>



</body>

</html>
